{% extends 'base.html.twig' %}

{% block header %}
    <div class="container">
        <div class="page-header text-center mb5">
            <img src="{{ asset('ah-bs3/img/logo/alpha-hydro-logo-ru.svg') }}" alt="Alpha-Hydro">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ include('admin/registration/_login_form.html.twig') }}
            <div class="col-md-12">
                {#<a class="btn btn-link" href="{{ path('user_registration') }}">Регистрация</a>#}
                <a class="btn btn-link" href="#">Забыли пароль</a>
            </div>
        </div>
    </div>
{% endblock %}