{% extends 'base.html.twig' %}

{% block header %}
    {{ include('admin/components/_logo_ru_svg.html.twig')}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ include('admin/registration/_login_form.html.twig', {'modal' : false}) }}
        </div>
    </div>
{% endblock %}