{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ include('admin/registration/_flash_succes_message.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-right">
            <a href="{{ path('index') }}" class="btn btn-primary">ОК</a>
        </div>
    </div>

{% endblock %}

{% block header %}
    {{ include('admin/components/_logo_ru_svg.html.twig') }}
{% endblock %}

