{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block header %}
    {{ include('admin/components/_logo_ru_svg.html.twig')}}
{% endblock %}

