<div class="row manufacture-list">
    <div class="flex-box col-3">
        {% for product in category.products %}
            <div class="flex-box-item card hover">
                <a href="{{ path('manufacture_product_view', {'pathCategory':category.path, 'path': product.path}) }}">
                    <div class="card-image p1">
                        <img src="{{ asset( product.image ) }}" alt="{{ product.name }}"/>
                    </div>
                    <div class="card-title bottom text-center">
                        {{ product.name }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
