{% extends 'base.html.twig' %}

{% set pageTitle = (category is defined) ? category.name : 'Наше производство' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block pageHeader %}
    {{ include('components/_page_header.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('components/_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <div class="page-content mt2">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>src/Controller/ManufactureController.php</code></li>
            <li>Your template at <code>templates/manufacture/index.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
