{% extends 'admin.html.twig' %}

{% block title %}New Media{% endblock %}

{% block pageHeader %}<h1 class="display-4 mb-4">Новая Публикация</h1>{% endblock %}

{% block body %}
    {{ include('admin/media/_form.html.twig') }}
{% endblock %}