{% extends 'base.html.twig' %}

{% block title %}Гидравлика. Гидравлическое оборудование{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
            <img src="{{ asset("upload/pages/catalog560x325.png") }}" alt="Каталог продукции" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h1 class="text-size-header-large">Гидравлика
                <small>гидравлическое оборудование</small>
            </h1>
            <p class="ah-info-block ah-info-block-info">Производство и поставка гидравлического оборудования и гидрокомпонентов. Опрессовка рукавов высокого давления (РВД), фитингов, шлангов, труб и трубных соединений. Проектировка и производство гидростанций и гидроцилиндров.</p>
        </div>
    </div>
{% endblock %}
