{% extends 'admin.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block pageHeader %}<h1 class="display-4 mb-4">Новая категория</h1>{% endblock %}

{% block body %}
    {{ include('admin/categories/_form.html.twig') }}
{% endblock %}