{% extends 'admin.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block pageHeader %}<h1 class="display-4">Каталог</h1>{% endblock %}

{% block body %}
    {{ include('admin/categories/_categories_table.html.twig') }}
    <a class="btn btn-success mb-2" href="{{ path('categories_add') }}">Новая категория</a>
{% endblock %}