{% extends 'admin.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block pageHeader %}
    <h1 class="display-4">{{ pageTitle | default('Каталог')}}</h1>
{% endblock %}

{% block body %}
    <div class="mb-2 d-flex justify-content-between" role="group" aria-label="Category list">
        <a class="btn btn-success" href="{{ path('categories_add') }}">Новая категория</a>
        <a href="{{ path('catalog_index') }}" class="btn btn-secondary" target="_blank">
            <i data-feather="external-link">&nbsp;</i>
        </a>
    </div>
    {{ include('admin/categories/_categories_table.html.twig') }}
{% endblock %}