{% extends 'admin.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block pageHeader %}<h1 class="display-4">{{ category.name }}</h1>{% endblock %}

{% block body %}
    {% set categories = category.children %}
    <a class="btn btn-success mb-2" href="{{ path('categories_add') }}">Create new</a>
    {{ include('admin/categories/_categories_table.html.twig') }}
{% endblock %}