{% extends 'base/components/_sidebar.html.twig' %}

{% block sidebarList %}
    <ul class="list-group crop-bottom-shadow">
        {% for item in sidebarListCategories %}
            {% if category is defined and item.id == category.id %}
                <li class="list-group-item sidebar-item sidebar-item-current">
                    <span>{{ item.name }}</span>
                </li>
            {% else %}
                <li class="list-group-item sidebar-item">
                    <a href="{{ path('media_category_list', {'path': item.fullPath}) }}">{{ item.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}