<div class="col-md-3">
    <div class="sidebar-dropdown sidebar">
        {% block sidebarList %}{% endblock %}
    </div>
    <div class="sidebar">
        {% block actionNews %}{% endblock %}
    </div>
</div>