<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<h1>Привет {{ controller_name }}!</h1>

This friendly message is coming from:
<ul>
    <li>Your controller at <code>src/Controller/PdfController.php</code></li>
    <li>Your template at <code>templates/pdf/index.html.twig</code></li>
</ul>
</body>
