{% extends 'mail/default.html.twig' %}

{% block title %}Change Password{% endblock %}


{% block body %}
    <p>Ваш пароль для входа на сайт <a href="https://alpha-hydro.com">Alpha-Hydro</a> успешно изменен.</p>
    <p>Ваш новый пароль: <strong>{{ new_password }}</strong></p>
{% endblock %}

