{% extends 'mail/default.html.twig' %}

{% block title %}Recovery Password{% endblock %}

{% block body %}
    <h4>Здравствуйте {{ user.name }}</h4>
    <p>Вы запрашивали новый пароль для входа на сайт <a href="https://alpha-hydro.com">alpha-hydro.com</a></p>
    <p>Ваш новый пароль: <strong>{{ new_password }}</strong></p>
{% endblock %}
